@import "../../styles/main.scss";

body {
    background-color: #ffffff;
    font-family: "Mulish", sans-serif;

    .main-light {
        width: 100%;
        padding-bottom: 100px;
        background-color: #ffffff;
        transition: background-color 0.5s ease-in-out;
        padding-top: 150px;
        position: relative;
        top: 0;
        left: 0;
    }

    .container {
        bottom: 0;
        top: 0;
        padding-top: 150px;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .overlay {
        @extend .main-light;
        position: fixed;
        background-color: #000000;
        z-index: 5;
        bottom: 0;
        opacity: 0.5;
    }

    .main-dark {
        @extend .main-light;
        position: static;
        background-color: #000000;
    }

    .input {
        width: 60%;
        padding: 10px;
        height: 50px;
        display: flex;
        align-items: center;
        position: relative;
        left: 20%;
        right: 20%;
        border-radius: 25px;
        background-color: #f9f9f9;
        margin: 80px 0;

        @include mobile {
            width: 80%;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 7%;
            margin-right: 7%;
            right: 0;
            left: 0;
        }

        .svg {
            height: 100%;
            margin: 20px;
            align-self: center;
        }

        input {
            padding-left: 5px;
            margin-right: 70px;
            background-color: transparent;
            border: none;
            height: 100%;
            font-size: 16px;
            font-family: inherit;
            border-left: 1px solid black;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }

    nav {
        width: 100%;
        position: fixed;
        z-index: 3;
        display: flex;
        align-items: center;
        transition: background-color 0.5s ease-in-out;
        justify-content: space-between;
        background-color: white;
        top: 0;
        box-shadow: 5px 0 20px 2px rgba(0, 0, 0, 0.1);
        padding: 20px;

        .wrapper {
            display: flex;
            gap: 10px;
            align-items: center;

            .dark-mode-praragraph {
                font-size: 14px;
            }
        }

        .lightmode {
            width: 50px;
            border-radius: 20px;
            height: 30px;
            display: flex;
            align-items: center;
            background-color: #f4f4f5;

            .toggeler {
                width: 20px;
                height: 20px;
                margin: 0 5px;
                background-color: #ffffff;
                transition: transform 0.34s cubic-bezier(0.24, 1, 0.32, 1),
                    visibility 0.36s;
                border-radius: 100%;
            }
        }

        .darkmode {
            @extend .lightmode;
            background-color: #48d38a;

            .toggeler {
                @extend .toggeler;
                transition: transform 0.34s cubic-bezier(0.24, 1, 0.32, 1),
                    visibility 0.36s;
                transform: translateX(20px);
            }
        }
    }

    .darkmode-nav {
        @extend nav;
        background-color: black;

        h4 {
            color: #ffffff;
        }

        .wrapper {
            @extend .wrapper;

            .dark-mode-praragraph {
                @extend .dark-mode-praragraph;
                color: #ffffff;
            }
        }
    }

    .bank-header {
        text-transform: capitalize;
        font-size: 2rem;
        text-align: center;

        @include mobile {
            font-size: 1.3rem;
            font-weight: 500;
        }
    }
}

.banky {
    width: 100%;
    padding-right: 14%;
    padding-left: 14%;
    flex-wrap: wrap;
    margin: 0 auto;

    @include mobile {
        padding-left: 5%;
        padding-right: 5%;
    }

    .not-found-container {
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;
        display: flex;

        h3 {
            width: 40ch;
            text-transform: capitalize;
            text-align: center;
        }
    }

    .container-2 {
        width: 100%;
        max-height: 520px;
        overflow-y: hidden;

        .bank {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            color: black;
            background-color: #f9f9f9;
            transition: all 0.4s ease-in;
            padding: 10px 20px;
            margin-bottom: 20px;

            &:hover {
                background-color: #e6f1ff;
            }

            &:hover>svg {
                transform: translateX(8px);
            }

            &:hover>.right>p {
                font-size: 11px;
            }


            svg {
                transition: all 0.3s ease-in;
            }

            .right {
                align-items: center;
                justify-content: center;
                gap: 10px;
                display: flex;

                p {
                    font-size: 10px;
                    transition: all 0.3s ease-in;
                    font-weight: 600;

                    @include mobile {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }

            img {
                height: 35px;
                transition: all 0.3s ease-in;
                width: 35px;
            }
        }
    }

    .contain-open {
        @extend .container-2;
        max-height: 100%;
    }

    .button-container {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 3px;
        justify-content: center;

        .toggle-container-light {
            padding: 10px;
            border: none;
            font-family: "Mulish", sans-serif;
            font-weight: 600;
            text-transform: capitalize;
            color: inherit;
            transition: all 0.4s ease-in;
            background-color: #f4f4f5;

            @include mobile {
                font-size: 12px;
                font-weight: 500;
            }
        }

        .toggle-container-dark {
            @extend .toggle-container-light;
            background-color: #1A1A1C;
            color: white;
        }
    }
}

body.disable-scroll {
    overflow: hidden;
}

.bank-info {
    padding: 30px;
    left: 25%;
    right: 15%;
    bottom: 20%;
    width: 400px;
    opacity: 0;
    left: 25%;
    z-index: 50;
    opacity: 0;
    background-color: white;
    position: fixed;

    @include mobile {
        left: 0;
        right: 0;
        bottom: 33%;
        top: 33%;
        width: 80%;
        margin: 0 10%;
    }

    .nav {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 20%;
        height: 30px;
        margin-bottom: 20px;
    }

    .top {
        width: 100%;
        background-color: #f4f4f5;
        display: flex;
        padding: 10px;
        align-items: center;
        column-gap: 30px;

        img {
            width: 50px;
            height: 45px;
        }
    }

    main {
        margin-top: 30px;

        span {
            display: flex;
            gap: 10px;
            margin-bottom: 5px;
        }
    }
}

.dark-bank-info {
    padding: 30px;
    width: 400px;
    left: 25%;
    right: 15%;
    bottom: 25%;
    left: 25%;
    z-index: 50;
    opacity: 6;
    background-color: black;
    position: fixed;

    @include mobile {
        padding: 20px;
        left: 0;
        right: 0;
        bottom: 30%;
        top: 30%;
        width: 80%;
        margin: 0 10%;
    }

    .nav {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 20%;
        height: 30px;
        color: white;
        margin-bottom: 20px;
    }

    .top {
        width: 100%;
        background-color: #1A1A1C;
        color: white;
        display: flex;
        padding: 10px;
        align-items: center;
        column-gap: 30px;

        img {
            width: 50px;
            height: 45px;
        }
    }

    main {
        margin-top: 30px;

        span {
            display: flex;
            gap: 10px;
            margin-bottom: 5px;
        }
    }
}