@import "../../styles/main.scss";

.bank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: black;
  background-color: #f9f9f9;
  transition: all 0.4s ease-in;
  padding: 10px 20px;
  margin-bottom: 20px;

  &:hover {
    background-color: #e6f1ff;
  }

  &:hover > svg {
    transform: translateX(8px);
  }

  &:hover > .right > p {
    font-size: 11px;
  }

  svg {
    transition: all 0.3s ease-in;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      font-size: 10px;
      transition: all 0.3s ease-in;
      font-weight: 600;

      @include mobile {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  img {
    height: 35px;
    transition: all 0.3s ease-in;
    width: 35px;
  }
}

body.disable-scroll {
  overflow: hidden;
}

.bank-info {
  padding: 30px;
  width: 350px;
  margin-left: 20%;
  margin-right: 30%;
  bottom: 20%;
  z-index: 50;
  background-color: white;
  position: fixed;

  @include mobile {
    padding: 20px;
    left: 0;
    right: 0;
    bottom: 30%;
    font-size: 14px;
    top: 30%;
    width: 88%;
    margin: 0 6%;
  }

  .nav {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20%;
    height: 30px;
    margin-bottom: 20px;
  }

  .top {
    width: 100%;
    background-color: #f4f4f5;
    display: flex;
    padding: 10px;
    align-items: center;
    column-gap: 30px;

    img {
      width: 50px;
      height: 45px;
    }
  }

  main {
    margin-top: 30px;

    span {
      display: flex;
      gap: 10px;
      margin-bottom: 5px;
    }
  }
}

.dark-bank-info {
  padding: 30px;
  width: 350px;
  margin-left: 20%;
  margin-right: 30%;
  bottom: 25%;
  z-index: 50;
  opacity: 6;
  background-color: black;
  position: fixed;

  @include mobile {
    padding: 20px;
    left: 0;
    right: 0;
    bottom: 30%;
    top: 30%;
    width: 88%;
    margin: 0 6%;
  }

  .nav {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20%;
    height: 30px;
    color: white;
    margin-bottom: 20px;
  }

  .top {
    width: 100%;
    background-color: #1A1A1C;
    color: white;
    display: flex;
    padding: 10px;
    align-items: center;
    column-gap: 30px;

    img {
      width: 50px;
      height: 45px;
    }
  }

  main {
    margin-top: 30px;

    span {
      display: flex;
      gap: 10px;
      margin-bottom: 5px;
    }
  }
}
